body {
    padding: 0;
    margin: 0 auto;
    background-color: rgb(190, 190, 190);
    font-family: 'Indie Flower', cursive;

    background: url('./images/weatherImg.jpg') no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}